*{
  padding: 0;
  margin :0;
  box-sizing: border-box;
}

.content{
  height: 80vh;
  
} 

.register-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #212529;
}

.stylish-card{
  padding: 30px;
/* From https://css.glass */
background: rgba(18, 0, 41, 0.21);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.1px);
-webkit-backdrop-filter: blur(5.1px);
}